<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="output.css">
  <title>Host Homes</title>
</head>

<body class="bg-gray-50 font-sans text-gray-900">
  <%- include('../partials/header',{isLoggedIn}) %>

    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
      <h1 class="text-3xl font-bold mb-6">Explore nearby</h1>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
        <!-- Card 1 -->
        <% registeredHomes.forEach(house=>{ %>

          <div class="group cursor-pointer">
            <div class="relative overflow-hidden rounded-xl aspect-square mb-3">
              <a href="/home-details/<%=house._id%>">
                <img src="<%=house.photoUrl%>" alt="House"
                  class="object-cover w-full h-full group-hover:scale-105 transition-transform duration-300">
              </a>

              <div class="absolute top-3 right-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6 text-white fill-black/50">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                </svg>
              </div>
            </div>
            <div class="flex justify-between items-start">
              <h3 class="font-bold text-gray-900">
                <%=house.houseName %>
              </h3>
              <span class="flex items-center space-x-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                  class="w-4 h-4 text-black">
                  <path fill-rule="evenodd"
                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                    clip-rule="evenodd" />
                </svg>
                <span>
                  <%= house.rating%>
                </span>
              </span>
            </div>
            <p class="text-gray-500 text-sm">Design home</p>
            <p class="text-gray-500 text-sm">Oct 23 - 28</p>
            <div class="mt-1 flex items-baseline gap-1">
              <span class="font-bold text-gray-900">$<%=house.price%></span>
              <span class="text-gray-900">night</span>
            </div>
            <div class="flex gap-2">

              <form action="/edit-home/<%=house._id%>">
                <button class="bg-green-500 cursor-pointer px-4 py-1 mt-1 font-bold">Edit</button>
              </form>
              <form action="/delete-home/<%=house._id%>" method="POST">
                <button class="bg-red-500 cursor-pointer px-4 py-1 mt-1 font-bold">Delete</button>
              </form>
            </div>
          </div>

          <%})%>


      </div>
    </main>

    <%- include('../partials/footer') %>
</body>

</html>